.featuredProject {
	width: 100%;
	height: 350px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: space-between;
}

.featuredProject:nth-child(2n) {
	flex-direction: row-reverse;
}

.textContent {
	display: flex;
	flex-direction: column;
	min-width: 55%;
}

.textContent h4 {
	margin-top: 10px;
}

.imageContent {
	min-width: 40%;
	position: relative;
}

.featuredProjectScreenshot {
	overflow: hidden;
	object-fit: cover;
}
