.bannerContainer {
	color: white;
	background: rgb(186, 93, 104);
	background: linear-gradient(
		180deg,
		rgba(186, 93, 104, 1) 0%,
		rgba(253, 194, 150, 1) 29%
	);
	aspect-ratio: 2/1;
	overflow: visible;
	margin-bottom: 100px;
}

.bannerLayer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: visible;
}

.bannerLayer .fill {
	fill: red;
}

h1 {
	color: #151424;
	font-size: 60px;
}

.bannerArrow {
	width: 100px;
	height: 100px;
	margin: 750px auto auto auto;
	bottom: 50px;
}

.bannerArrow::before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	top: 0.15em;
	vertical-align: top;
	width: 60px;
	height: 60px;
	transform: rotate(135deg);
}
