.collapseContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}

.recentProject {
	width: 31%;
	min-height: 250px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 5px;
	background-color: #0c283e;
}

@media only screen and (max-width: 991px) {
	.recentProject {
		width: 45%;
	}
}

@media only screen and (max-width: 640px) {
	.collapseContent {
		flex-direction: column;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
	}

	.recentProject {
		width: 90%;
	}
}
